
/* Tugas 1 CSS */
p{
  font-size: 18px;
  color: #5B84FD;
  text-align: justify;
} */
/* dengan class, supaya file cssnya bisa dipake lagi
.p-blue{
  font-size: 18px;
  color: #5B84FD;
  text-align: justify;
}
/* end Tugas 1 here */
